* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topbar{
position: relative;
}

.topbar .toolbar {
  min-height: 15px;
  height: 4.5vh  ;
  background-color: #0078C4;
}

.toolbar .text-box {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-weight: 900;
  font-size: 13px;
  font-family: "Lato", sans-serif;
}

.logo-box{
  /* why do I have to declare height and width */
  margin-top: 15px;
  margin-bottom: 15px;
  height: 20vh;
  width: 50vh;
  background-image: url("bsm_logo.jpeg");
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  transform: translate(-40%)
  /* background-color: black; */
}
body .menu-bar .menubar{
   position: relative; 
   background-color: #F5F6F1;
   /* min-height: 0%; */
   height: 100vh;
}